Repository/Connected Services/myZmanimService/engine11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.myzmanim.com/engine1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Param" type="q1:Engine.ParamDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDayResult" type="q2:Engine.ResultDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Param" type="q3:Engine.ParamGps" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SearchGpsResult" type="q4:Engine.ResultGps" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPostal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Param" type="q5:Engine.ParamPostal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPostalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SearchPostalResult" type="q6:Engine.ResultPostal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>