Repository/Connected Services/myZmanimService/Engine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Engine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IEngine_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://api.myzmanim.com/engine1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://api.myzmanim.com/engine1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.myzmanim.com/engine1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEngine_GetDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDay" />
  </wsdl:message>
  <wsdl:message name="IEngine_GetDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayResponse" />
  </wsdl:message>
  <wsdl:message name="IEngine_SearchGps_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchGps" />
  </wsdl:message>
  <wsdl:message name="IEngine_SearchGps_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchGpsResponse" />
  </wsdl:message>
  <wsdl:message name="IEngine_SearchPostal_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPostal" />
  </wsdl:message>
  <wsdl:message name="IEngine_SearchPostal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPostalResponse" />
  </wsdl:message>
  <wsdl:portType name="IEngine">
    <wsdl:operation name="GetDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IEngine/GetDay" message="tns:IEngine_GetDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEngine/GetDayResponse" message="tns:IEngine_GetDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchGps">
      <wsdl:input wsaw:Action="http://tempuri.org/IEngine/SearchGps" message="tns:IEngine_SearchGps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEngine/SearchGpsResponse" message="tns:IEngine_SearchGps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPostal">
      <wsdl:input wsaw:Action="http://tempuri.org/IEngine/SearchPostal" message="tns:IEngine_SearchPostal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEngine/SearchPostalResponse" message="tns:IEngine_SearchPostal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEngine" type="tns:IEngine">
    <wsp:PolicyReference URI="#BasicHttpBinding_IEngine_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDay">
      <soap:operation soapAction="http://tempuri.org/IEngine/GetDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchGps">
      <soap:operation soapAction="http://tempuri.org/IEngine/SearchGps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPostal">
      <soap:operation soapAction="http://tempuri.org/IEngine/SearchPostal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Engine">
    <wsdl:port name="BasicHttpBinding_IEngine" binding="tns:BasicHttpBinding_IEngine">
      <soap:address location="https://api.myzmanim.com/engine1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>